.progressBar {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 5rem;
  left: 5.5rem;
  position: fixed;
  top: 50%;
  transform: rotate(90deg) translate(-50%, -50%);
  transform-origin: top left;
  width: 27.5rem;
  z-index: 50;
}

.progressBar > * {
  line-height: 1.5;
}

.progressBarText,
.progressBarText::before,
.progressBarText::after {
  font-size: 5rem;
  font-weight: bold;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  line-height: 1.5;
}

.progressBarText {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.progressBarText::before {
  color: #fff;
  content: attr(data-text);
}

.progressBarText::after {
  animation: clip-fill auto linear;
  animation-timeline: --page-scroll;
  background: #d080ff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: attr(data-text);
}

@keyframes clip-fill {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@media (max-width: 768px) {
  .progressBar {
    font-size: 2.5rem;
    left: 3rem;
    width: 15rem;
  }

  .progressBarText,
  .progressBarText::before,
  .progressBarText::after {
    font-size: 2.5rem;
  }
}
